.container {
  display: "flex";
  justify-content: "space-between";
}
.infoSteps {
  margin-top: 5vw;
}
.infoSteps > h1 {
  margin-bottom: 3vw;
}
.infoSteps > h1 > span {
  display: block;
  font-family: "Lato-SemiBold";
}
.infoSteps > h3 {
  font-family: "Lato-SemiBold";
  font-size: 18px;
  color: #2d2d2d;
  line-height: 30px;
  margin-bottom: 1vw;
}
.infoSteps > div {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  grid-gap: 1.4vw 1.2vw;
}
.infoSteps > div > div {
  width: 1.5vw;
  height: 1.5vw;
  background: green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Lato-Black";
  font-size: 13px;
}
.infoSteps > div > p {
  font-size: 18px;
  color: #3f3f41;
}
.BoxImages {
  display: grid;
  align-items: center;
  justify-items: end;
  position: absolute;
  right: 11vw;
  top: -4vw;
  height: 44vw;
}
.BoxImages > img:nth-of-type(1) {
  width: 45vw;
}
.BoxImages > img:nth-of-type(2) {
  width: 8vw;
}
