@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-SemiBold";
  src: url("../fonts/Lato/Lato-SemiBold.ttf");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato/Lato-Black.ttf");
}
@font-face {
  font-family: "Lato-Heavy";
  src: url("../fonts/Lato/Lato-ExtraBold.ttf");
}
* {
  margin: 0;
  font-family: "Lato-Regular";
}
/* Tamaño del scroll */
.ScrollStyled::-webkit-scrollbar {
  width: 0.4vw;
  background: rgb(208, 208, 208);
  border-radius: 0.2vw;
}
/* Estilos barra (thumb) de scroll */
.ScrollStyled::-webkit-scrollbar-thumb {
  background: rgb(133, 133, 133);
  border-radius: 4px;
  transition: 0.3s;
}
.ScrollStyled::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 133, 133);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

h1 {
  font-family: "Lato-Black";
  font-size: 23px;
  color: #1f9547;
  line-height: 30px;
}
div > .buttonStyled,
form > .buttonStyled {
  font-family: "Lato-Bold";
  color: #ffffff;
  background-color: #3f3f41;
  font-size: 1.4vw;
  border-radius: 3vw;
  text-transform: initial;
  width: 90%;
  margin-top: 3vw;
  max-height: 2.6vw;
}
div .buttonStyled:hover {
  color: #1f9547;
  border: 1px solid #1f9547;
}
.Outlet {
  height: calc(100vh - 8.02vw);
}
.header {
  height: 8.02vw;
  display: grid;
  grid-template-columns: 27.4vw 1fr;
  gap: 2vw;
}
.header.active {
  box-shadow: 0px 3px 6px #00000029;
}
.header div {
  align-items: center;
  justify-content: center;
  display: flex;
}
.header button {
  border-radius: 2vw;
  color: #000;
  text-transform: initial;
  width: 100%;
}
.header > :nth-of-type(1) {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 3px 3px 4vw 3px;
  opacity: 1;
}
.header > .actions {
  display: grid;
  grid-template-columns: 9.16vw 1fr 20.6vw;
}
.logo > img {
  width: 66%;
  cursor: pointer;
}

.netux > img {
  width: 50%;
}
.Steppers {
  padding-right: 9vw;
}

.Steppers .Step {
  color: #1f9547;
  width: 2vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #1f9547;
  border-radius: 50%;
  font-family: "Lato-Black" !important;
  transition: 0.3s;
}
.Steppers .active > div,
.Steppers .active .Bullets > span {
  background-color: #1f9547;
  color: #fff;
  cursor: pointer;
}
.Steppers .active .Bullets {
  background-color: transparent;
}
.Steppers .Bullets > span {
  width: 5px;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #888888;
  border-radius: 50%;
  margin: 0 0.3vw;
}
.BoxImages.StepThree {
  position: initial;
  height: auto;
}
.ConfirmInfo {
  display: flex;
  flex-direction: column;
  padding: 3vw 0;
  width: 19vw;
}
.ConfirmInfo > h1,
.ConfirmInfo > button {
  margin-top: 2vw;
}
.ConfirmInfo > h1:nth-of-type(2),
.ConfirmInfo > h1:nth-of-type(3),
.ConfirmInfo > h1:nth-of-type(4) {
  color: #3f3f41;
}
.ConfirmInfo > p {
  color: #7a7a7a;
  margin-top: 0.7vw;
}
.ModalSuccess > h1 {
  margin: 1vw 0;
}
.ModalSuccess > p {
  margin: 0.7vw 0;
}
.ModalSuccess > p > span {
  display: block;
  font-family: "Lato-Black";
}
