.frame {
  box-shadow: 0px 3px 6px #00000029;
  padding: 2vw;
}
.frame > div {
  display: grid;
  height: 100%;
  grid-gap: 1.1vw;
}
.listItems {
  max-height: 45vh;
  overflow-y: auto;
  display: grid;
  grid-gap: 2vw;
  padding: 0 2vw 0 0;
  scroll-behavior: smooth;
}
.listItems > div {
  display: grid;
  grid-template-columns: 2vw 1fr;
  grid-gap: 0.4vw;
  padding: 0 0 1vw;
  border-bottom: 2px solid #efefef;
  cursor: pointer;
  transition: 0.4s;
}
.listItems > div:hover,
.listItems > div.active {
  border-bottom: 2px solid #1f9547;
}

.listItems > div > span {
  grid-area: 1 / 1 / 4 / 2;
  width: 100%;
  height: min-content;
}
.listItems > div > span.Mui-checked {
  color: #1f9547;
}
.listItems > div > p {
  color: #a5a5a5;
  font-size: 13px;
}
.google-map-code {
  height: 100%;
}
.listItems > div > p:nth-of-type(1) {
  font-size: 15px;
  font-family: "Lato-Black";
  color: #3f3f41;
}

.places-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 300px;
}

.map-container {
  width: 100%;
  height: 100%;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}
