form.FormInputs > div {
  display: grid;
  grid-gap: 1vw 2vw;
  grid-template-columns: 1fr 1fr;
  margin: 2vw 0 0;
}
form.FormInputs > h1 {
  margin-bottom: 3vw;
  font-size: 26px;
}
form.FormInputs > div > div:nth-of-type(1),
form.FormInputs > div > div:nth-of-type(2) {
  grid-area: auto / 1 / auto / 3;
}
.BoxImage {
  height: 100%;
  display: flex;
}

form.FormInputs .listItemsAdress > div {
  display: grid;
  box-shadow: none;
  transition: 0.4s;
}
form.FormInputs .listItemsAdress > div > p:nth-of-type(1) {
  font-size: 17px;
  color: #3f3f41;
  font-family: "Lato-Black";
  margin-bottom: 0.3vw;
}

form.FormInputs .listItemsAdress > div > p {
  font-size: 13px;
  color: #a5a5a5;
  font-family: "Lato-Regular";
}
